.bg-dark {
    background-color: #676f77 !important;
}
body{
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #c18d88 0%, #d6f2f5 51%, #b1dcba 75%);
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
  
}
/* .inner { 
  background: rgba(211, 211, 211, 0.562) ; 
} */

table.ex1 {
  border: 1px solid #ddd;
  box-shadow:1px 1px 1px 1px darkgray;
  border-color: #ddd;
  
}
.lside{
    text-align:center; 
}
table,th,td{
    border: 1px solid #ddd;
    box-shadow:1px 1px 1px 1px darkgray;
    border-color: #ddd;
}
th,td{
    padding:2px;
    font-weight: bold;
}
.sh{
    width:200px;
}
button{
  height: 20px;
width:44px;
}
.button {

border: none;
background-color: grey;
/* padding: 15px 32px; */
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
/* margin: 4px 2px; */
cursor: pointer;
}
#example2 {
  box-sizing: border-box;
  width: 660px;
  height: 500px;
  background-color:	#FFF8DC;
  box-shadow:3px 3px 5px 6px #FFDEAD;
  padding: 10px;  
  border: 1px solid #ddd;
  
}
#shapa {
    position: absolute;
    top: 18%;
    left: 46%;
    border: 1px solid gray;
    padding: 10px;
}
body{
  height:150%;
}
/* hover dropdown menus */
@media only screen and (max-width: 991px) {
    .navbar-hover .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li{position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block}
    .navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}
